$feedback-block-background-color: #fff;
$feedback-block-foreground-color: #000;
$feedback-block-accent-1: hsl(212deg 100% 48%);
$feedback-block-accent-2: hsl(0deg 0% 87% / 50.9%);
$feedback-block-error-dark: #7b0000;
$feedback-block-error-light: rgb(255 214 214 / 40%);
$feedback-block-success-dark: #007b00;
$feedback-block-success-light: rgb(230 255 230 / 20%);
$feedback-block-spacing: 1rem;
$feedback-block-border-radius: 0.75rem;
$feedback-block-gap: 0.5rem;
